<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>mySecondServlet</servlet-name>
    <servlet-class>com.prakashit.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mySecondServlet</servlet-name>
    <url-pattern>/secondServlet</url-pattern>
  </servlet-mapping>
</web-app>
