Skip to content
Product
Solutions
Open Source
Pricing

Search or jump to...
Sign in
Sign up
PrakashJavaCodingRepo
/
DemoProject
Public
Code
Issues
Pull requests
Actions
Projects
Security
Insights
Commit
ignoring waste files
 master
@PrakashJavaCodingRepo
PrakashJavaCodingRepo committed on Jul 31, 2022 
1 parent 9acec04
commit 8db2a0b
Showing 1 changed file with 86 additions and 0 deletions.
 86 changes: 86 additions & 0 deletions86  
.gitignore
@@ -0,0 +1,86 @@
##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
*.idea
*.iml

##############################
## Maven
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## Gradle
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

##############################
## IntelliJ
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

##############################
## Eclipse
##############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.factorypath

##############################
## NetBeans
##############################
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

##############################
## Visual Studio Code
##############################
.vscode/
.code-workspace

##############################
## OS X
##############################
.DS_Store
0 comments on commit 8db2a0b
Please sign in to comment.
Footer
© 2024 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact
Manage cookies
Do not share my personal information
