<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                      https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
  <display-name>Archetype Created Web Application</display-name>
<servlet>
  <servlet-name>myServletLifecycle</servlet-name>
  <servlet-class>com.prakashit.ServletLifecycle</servlet-class>
  <load-on-startup>1</load-on-startup>
</servlet>
  <servlet-mapping>
    <servlet-name>myServletLifecycle</servlet-name>
    <url-pattern>/lifecycle</url-pattern>
  </servlet-mapping>
</web-app>
